@model PeopleManagement.Models.UserViewModel
@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<section>
    <h1>Autentication</h1>
    <form>
    
    <input type="email" name="email" id="email" value="@Model.Email" placeholder="Username/Email" />
    <input type="password" name="password" required id="password" value="@Model.Password" placeholder="Password"/>
    <a href="#">Forgot Password?</a>


    <button type="submit">Login</button>
    </form>
    <label>If you dont have an account <a href="Login/SignUp"> Click Here</a> </label>
</section>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>
