@{
    Layout = null;
}

<link href="~/css/login.css" rel="stylesheet" />
<section>
    <h1>Reset password?</h1>
    <form>
        <input required placeholder="password" id="password" type="password" />
        <input required placeholder="confirm password" id="confirmPassword" type="password" />
        <div class="error">
            <span hidden> passwords does not correspond</span>
        </div>
        <button type="submit">Send</button>
    </form>
</section>


<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/reset.js"></script>