section{
    border: 1px solid #000000;
    display:flex;
    flex-direction:column;
    width:500px;
    align-items:center;
    margin:150px auto;
}
h1{
    text-align:center;
}
form{
    display:flex;
    flex-direction:column;
}
form a{
    text-align:right;
}
input{
    margin-top:20px; 
    border:1px solid #000000;
    border-radius:4px;
}

button{
    margin:20px 0;
    background-color:#0026ff;
    border:1px solid #000000;
    padding:10px;
    border-radius: 4px;
    color:white;
}
label{
    margin-bottom: 30px;
}